/* /* основний чорний колір тексту #212121 /* */
/* /* другорядний сірий колір тексту #757575/* */
/* /*  синій акцент #2196F3 /* */

/* /*  білий колір фона #FFFFFF /* */
/* другорядний колір фона #F5F4FA */
:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #ffffff;


}
.page{
    background-color: #F5F4FA;
    color: var (--primary-text-color);
}

.page-header {
    background-color: var(--primary-white-color);
}
.logo {
    color: var(--accent-color);
text-decoration: none;}
.logo-title {
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}
/* site nav */
.site-nav a {
    color:var(--primary-text-color);;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.contakt a{
    color: var(--title-text-color);
}
.contakt a:hover, 
.contakt a:focus{
    color: var(--accent-color)
} 
/* hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--primary-white-color);
}
/* button */
.button {
    color: var(--primary-text-color);
background-color: var(--primary-white-color);
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);   
}
.button.secondary{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
.secondary:hover

{background-color: var(--primary-white-color);
    color: var(--accent-color);
}
/* section */

.section-title {
    color: var(--primary-text-color);
}
/* ocoбености */

.feature .title{
    color: var(--primary-text-color);
}
.title-text {
    color: var(--title-text-color);
}
/* команда */
.team-text {
    color: var(--title-text-color);
}
.commands{
    background-color: #E5E5E5;
}
/* футер */
.footer{
    background-color: #2F303A;
}
.footer .logo-title {
    color: #fff;
}
.address {
    color: #fff;
}
.address a:hover,
.address a:focus {
    color: var(--accent-color)
}
address .contakt-footer {
    color: rgba(255, 255, 255, 0.6);
}

